<html>
<head>
	<style>
	body {
		background: url("https://i.imgur.com/6TgQWq4.png");
		background-size: cover;
	}		
		#login, label, a {
			color: aliceblue;
	}
	</style>
	<title>Scrapbook</title>
</head>
<body>
	<div id="welcome-text">
		<h1 id="logo">Scrapbook</h1>
		<p id="text-welcome">slk;fjas;ldkfjsakl;djflk;sdajfkldsjfk;ldsjflkdsjfkl;asjdfkljdsklfj.  a.djklsfdslkajf sadl;fjk dsajkfs da;klfj.  asdflkjdsa;djsflk;jsdl;fkajlkfjdslk;fjas;ldkfjsakl;djflk;sdajfkldsjfk;ldsjflkdsjfkl;asjdfkljdsklfj.  a.djklsfdslkajf sadl;fjk dsajkfs da;klfj.  asdflkjdsa;djsflk;jsdl;fkajlkfjdslk;fjas;ldkfjsakl;djflk;sdajfkldsjfk;ldsjflkdsjfkl;asjdfkljdsklfj.  a.djklsfdslkajf sadl;fjk dsajkfs da;klfj.  asdflkjdsa;djsflk;jsdl;fkajlkfjd</p>
	</div>
</body>
</html>

