<html>
<head>
	<style>
	body {
		background: url("https://i.imgur.com/6TgQWq4.png");
		background-size: cover;
	}		
	#login, label, a, #greeting {
		color: aliceblue;
	}
	#welcome-text {
		text-align: center;
		margin: 12.25% 20% 0 20%;
	}	
	</style>
	<title>Scrapbook</title>
</head>
<body>
	<div id="welcome-text">
		<h1 id="logo">Scrapbook</h1>
		<p id="text-welcome">Scrapbook is an online tool that allows families to keep tradition and culture alive for generations.  By building a scrapbook of your family's history, you are creating something that can be passed along to other members of your family no matter where they are in the world.  Get started today and begin preserving your family's legacy! </p>
	</div>
</body>
</html>

