@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);

.bs-sidebar .nav > .active > ul {
		display: block;
		margin-bottom: 8px;
	}
	text.shadow {
		stroke: white;
		stroke-width: 2.3px;
		opacity: 0.5;
	}
	
	.node {
		cursor: pointer;
	}

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 1.5px;
	}

	.node text {
	  font-size: 28px;
	  font-family: 'Just Me Again Down Here', cursive;
	  fill: steelblue;
	}

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 1.5px;
	}
