@import url(https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);

#logo {
	font-family: 'Just Me Again Down Here', cursive;
	font-size: 52px;
}

#welcome-text {
	text-align: center;
	margin: 16.25% 20% 0 20%;
}


